[submodule "EA31337-Lite-Sets"]
	path = Sets/Lite
	url = git@github.com:EA31337/EA31337-Lite-Sets.git
[submodule "EA31337-Advanced-Sets"]
	path = Sets/Advanced
	url = git@github.com:EA31337/EA31337-Advanced-Sets.git
[submodule "EA31337-Rider-Sets"]
	path = Sets/Rider
	url = git@github.com:EA31337/EA31337-Rider-Sets.git
[submodule "VM"]
	path = _VM
	url = git@github.com:EA31337/FX-MT-VM.git
